<!DOCTYPE root[<!ELEMENT edit ANY>
<!ATTLIST edit id ID #REQUIRED>
<!ELEMENT account ANY>
<!ATTLIST account id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT postNews ANY>
<!ATTLIST postNews id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT newsDetail ANY>
<!ATTLIST newsDetail id ID #REQUIRED>
<!ELEMENT register ANY>
<!ATTLIST register id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
]>
<root id="-1">
  <home id="1057" key="2e1136c9-ded5-45f1-85da-73de976526d9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-03T17:07:53" updateDate="2017-07-05T09:38:56" nodeName="Home Page" urlName="home-page" path="-1,1057" isDoc="" nodeType="1053" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1058" nodeTypeAlias="home">
    <photo><![CDATA[umb://media/e98e9f9dfeed4d01a12916503cf3c366]]></photo>
    <nameNews><![CDATA[Donald Trump is gay]]></nameNews>
    <content><![CDATA[Donald Trump .........................................]]></content>
  </home>
  <postNews id="1064" key="c5429fe1-2c7f-46aa-b369-a565fc518b41" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-07-04T10:44:32" updateDate="2017-07-04T10:44:32" nodeName="Post News" urlName="post-news" path="-1,1064" isDoc="" nodeType="1062" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1059" nodeTypeAlias="postNews" />
  <newsDetail id="1068" key="1ecb5509-b536-464a-9b45-a5e8b68fcdb2" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2017-07-04T10:49:39" updateDate="2017-07-04T10:49:39" nodeName="News Detail" urlName="news-detail" path="-1,1068" isDoc="" nodeType="1067" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1066" nodeTypeAlias="newsDetail" />
  <contactUs id="1069" key="24f8d28f-628e-43bf-804d-03a140aca66e" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2017-07-04T10:52:48" updateDate="2017-07-05T15:50:14" nodeName="Contact Us" urlName="contact-us" path="-1,1069" isDoc="" nodeType="1063" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1060" nodeTypeAlias="contactUs">
    <phone><![CDATA[esgesgse]]></phone>
    <email><![CDATA[esgseg]]></email>
    <note><![CDATA[gsegesg]]></note>
    <fullName><![CDATA[ggege]]></fullName>
    <address><![CDATA[gsegesg]]></address>
    <contactUs id="1097" key="a22fe7c7-cf38-4d92-ab2f-988dbb002ef2" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2017-07-05T17:17:09" updateDate="2017-07-05T17:17:09" nodeName="cc-vS" urlName="cc-vs" path="-1,1069,1097" isDoc="" nodeType="1063" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1060" nodeTypeAlias="contactUs">
      <phone><![CDATA[cScs]]></phone>
      <email><![CDATA[vS]]></email>
      <note><![CDATA[vSVSv]]></note>
      <fullName><![CDATA[cc]]></fullName>
      <address><![CDATA[vsvSZv]]></address>
    </contactUs>
    <contactUs id="1098" key="4ed9f1fe-2fc2-4c25-a502-4bbdbc8e3f21" parentID="1069" level="2" creatorID="0" sortOrder="2" createDate="2017-07-05T17:18:18" updateDate="2017-07-05T17:18:18" nodeName="fgafgawawg-gwagaw" urlName="fgafgawawg-gwagaw" path="-1,1069,1098" isDoc="" nodeType="1063" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1060" nodeTypeAlias="contactUs">
      <phone><![CDATA[agawg]]></phone>
      <email><![CDATA[gwagaw]]></email>
      <note><![CDATA[gwagw]]></note>
      <fullName><![CDATA[fgafgawawg]]></fullName>
      <address><![CDATA[awgawgaw]]></address>
    </contactUs>
    <contactUs id="1099" key="d81acd8d-bbdd-4d88-99d9-6ccc0d78000f" parentID="1069" level="2" creatorID="0" sortOrder="3" createDate="2017-07-05T17:20:00" updateDate="2017-07-05T17:20:00" nodeName="gg-gsergs" urlName="gg-gsergs" path="-1,1069,1099" isDoc="" nodeType="1063" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1060" nodeTypeAlias="contactUs">
      <phone><![CDATA[gsegse]]></phone>
      <email><![CDATA[gsergs]]></email>
      <note><![CDATA[sgeerg]]></note>
      <fullName><![CDATA[gg]]></fullName>
      <address><![CDATA[gsegseg]]></address>
    </contactUs>
    <contactUs id="1100" key="a2d2ad87-b418-4146-91a8-c3246f6de032" parentID="1069" level="2" creatorID="0" sortOrder="4" createDate="2017-07-05T17:22:54" updateDate="2017-07-05T17:22:54" nodeName="fafwf-fefe" urlName="fafwf-fefe" path="-1,1069,1100" isDoc="" nodeType="1063" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1060" nodeTypeAlias="contactUs">
      <phone><![CDATA[fe]]></phone>
      <email><![CDATA[fefe]]></email>
      <note><![CDATA[fe]]></note>
      <fullName><![CDATA[fafwf]]></fullName>
      <address><![CDATA[fe]]></address>
    </contactUs>
    <contactUs id="1101" key="8149f9ae-89a9-4cca-bcac-66a6b791f609" parentID="1069" level="2" creatorID="0" sortOrder="5" createDate="2017-07-05T17:26:09" updateDate="2017-07-05T17:26:09" nodeName="gseg-esgsegsre" urlName="gseg-esgsegsre" path="-1,1069,1101" isDoc="" nodeType="1063" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1060" nodeTypeAlias="contactUs">
      <phone><![CDATA[seges]]></phone>
      <email><![CDATA[esgsegsre]]></email>
      <note><![CDATA[g]]></note>
      <fullName><![CDATA[gseg]]></fullName>
      <address><![CDATA[gsegseg]]></address>
    </contactUs>
    <contactUs id="1102" key="1bb805bc-2d72-4f86-a977-60c18cf1ca07" parentID="1069" level="2" creatorID="0" sortOrder="6" createDate="2017-07-05T17:30:08" updateDate="2017-07-05T17:30:08" nodeName="ffwfawfawf-fwaf" urlName="ffwfawfawf-fwaf" path="-1,1069,1102" isDoc="" nodeType="1063" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1060" nodeTypeAlias="contactUs">
      <phone><![CDATA[waf]]></phone>
      <email><![CDATA[fwaf]]></email>
      <note><![CDATA[awfwaffe]]></note>
      <fullName><![CDATA[ffwfawfawf]]></fullName>
      <address><![CDATA[wfawfwafwa]]></address>
    </contactUs>
    <contactUs id="1103" key="bf923607-6306-454b-a8bc-540b15e07853" parentID="1069" level="2" creatorID="0" sortOrder="7" createDate="2017-07-05T17:32:55" updateDate="2017-07-05T17:32:55" nodeName="fawfwafwa-afawf" urlName="fawfwafwa-afawf" path="-1,1069,1103" isDoc="" nodeType="1063" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1060" nodeTypeAlias="contactUs">
      <phone><![CDATA[ffaw]]></phone>
      <email><![CDATA[afawf]]></email>
      <note><![CDATA[wafwaef]]></note>
      <fullName><![CDATA[fawfwafwa]]></fullName>
      <address><![CDATA[fwafwaf]]></address>
    </contactUs>
    <contactUs id="1113" key="9e34104b-c157-4193-a2d6-d1ef6901d761" parentID="1069" level="2" creatorID="0" sortOrder="8" createDate="2017-07-06T10:09:29" updateDate="2017-07-06T10:09:29" nodeName="hhh-hh" urlName="hhh-hh" path="-1,1069,1113" isDoc="" nodeType="1063" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1060" nodeTypeAlias="contactUs">
      <phone><![CDATA[hh]]></phone>
      <email><![CDATA[hh]]></email>
      <note><![CDATA[hhh]]></note>
      <fullName><![CDATA[hhh]]></fullName>
      <address><![CDATA[hhh]]></address>
    </contactUs>
  </contactUs>
  <register id="1074" key="25ed87a7-356d-4b7a-94ac-1e8d4ab3f7ae" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2017-07-04T11:27:16" updateDate="2017-07-04T11:27:16" nodeName="Register" urlName="register" path="-1,1074" isDoc="" nodeType="1072" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1070" nodeTypeAlias="register" />
  <login id="1075" key="b4699316-5b03-4d0d-8980-56094a2b926e" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2017-07-04T11:27:28" updateDate="2017-07-04T14:21:44" nodeName="Login" urlName="login" path="-1,1075" isDoc="" nodeType="1073" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1076" nodeTypeAlias="login" />
  <account id="1134" key="9f608555-74d9-4316-9bdc-82dffa5db4c1" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2017-07-06T13:36:34" updateDate="2017-07-06T13:39:06" nodeName="Account" urlName="account" path="-1,1134" isDoc="" nodeType="1133" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1132" nodeTypeAlias="account">
    <edit id="1138" key="042c47e4-f5a5-4db6-a9a7-e5a547ddc013" parentID="1134" level="2" creatorID="0" sortOrder="0" createDate="2017-07-06T13:39:32" updateDate="2017-07-06T13:40:43" nodeName="Edit" urlName="edit" path="-1,1134,1138" isDoc="" nodeType="1136" creatorName="Tuan Pham" writerName="Tuan Pham" writerID="0" template="1137" nodeTypeAlias="edit" />
  </account>
</root>