<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT notification ANY>
<!ATTLIST notification id ID #REQUIRED>
<!ELEMENT register ANY>
<!ATTLIST register id ID #REQUIRED>
<!ELEMENT postNews ANY>
<!ATTLIST postNews id ID #REQUIRED>
<!ELEMENT newsDetail ANY>
<!ATTLIST newsDetail id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT account ANY>
<!ATTLIST account id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
]>
<root id="-1">
  <home id="1149" key="a4a64684-b6de-48cc-98bf-b71c642cd092" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-09T10:44:17" updateDate="2017-07-09T10:44:17" nodeName="Home" urlName="home" path="-1,1149" isDoc="" nodeType="1111" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1052" nodeTypeAlias="home" />
  <account id="1150" key="b529ddd8-323a-4d34-9122-4d1164e9368c" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-07-09T10:44:32" updateDate="2017-07-09T10:44:32" nodeName="Account" urlName="account" path="-1,1150" isDoc="" nodeType="1116" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1058" nodeTypeAlias="account" />
  <contactUs id="1151" key="49ac6d5d-5691-4269-8d0f-f4ec45b2e18b" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-07-09T10:44:46" updateDate="2017-07-09T10:44:46" nodeName="ContactUs" urlName="contactus" path="-1,1151" isDoc="" nodeType="1115" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1055" nodeTypeAlias="contactUs">
    <contactUs id="1180" key="740c07f7-f806-4b5b-b7fe-4c3bbcae0e6a" parentID="1151" level="2" creatorID="0" sortOrder="0" createDate="2017-07-09T22:42:56" updateDate="2017-07-09T22:42:56" nodeName="Tuan Pham-tuan@gmail.com" urlName="tuan-pham-tuan-gmailcom" path="-1,1151,1180" isDoc="" nodeType="1115" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1055" nodeTypeAlias="contactUs">
      <email><![CDATA[tuan@gmail.com]]></email>
      <phone>123456789</phone>
      <fullName><![CDATA[Tuan Pham]]></fullName>
      <note><![CDATA[This is Contact Us Content!!!]]></note>
      <address><![CDATA[61 Nguyen Van Thu]]></address>
    </contactUs>
  </contactUs>
  <login id="1152" key="7daba6ca-1988-4b65-a242-d30bf062f33f" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2017-07-09T10:45:00" updateDate="2017-07-09T10:45:00" nodeName="Login" urlName="login" path="-1,1152" isDoc="" nodeType="1113" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1053" nodeTypeAlias="login" />
  <newsDetail id="1153" key="c3733093-3d4e-43ff-9444-d2b81da34c7f" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2017-07-09T10:45:13" updateDate="2017-07-09T10:45:13" nodeName="NewsDetail" urlName="newsdetail" path="-1,1153" isDoc="" nodeType="1117" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1057" nodeTypeAlias="newsDetail" />
  <postNews id="1154" key="b848f28c-8f46-4590-89fe-e790196ae749" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2017-07-09T10:45:25" updateDate="2017-07-10T14:56:06" nodeName="PostNews" urlName="postnews" path="-1,1154" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1056" nodeTypeAlias="postNews">
    <postNews id="1202" key="18ea818c-6e87-4c59-ad55-2ac82f71292d" parentID="1154" level="2" creatorID="0" sortOrder="1" createDate="2017-07-10T15:27:45" updateDate="2017-07-10T15:29:10" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (1)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-1" path="-1,1154,1202" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1057" nodeTypeAlias="postNews">
      <newsPhoto><![CDATA[umb://media/9cd2158d1efd46f8845efb8b05e0a1f6]]></newsPhoto>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1204" key="d9e8eecb-2671-4d4f-be5f-946e83fb05a6" parentID="1154" level="2" creatorID="0" sortOrder="2" createDate="2017-07-10T15:31:13" updateDate="2017-07-10T15:31:24" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (2)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-2" path="-1,1154,1204" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1057" nodeTypeAlias="postNews">
      <newsPhoto><![CDATA[umb://media/6c6bd890d51b4e12a5811b7ac21fa453]]></newsPhoto>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is....]]></newsContent>
    </postNews>
    <postNews id="1169" key="7e140eb9-6e69-48a1-a66a-1d091b031795" parentID="1154" level="2" creatorID="0" sortOrder="3" createDate="2017-07-09T15:54:49" updateDate="2017-07-10T14:11:05" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (1)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-1" path="-1,1154,1169" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1057" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1170" key="292d907f-19a8-4ebe-9775-78b3a950126c" parentID="1154" level="2" creatorID="0" sortOrder="4" createDate="2017-07-09T17:27:28" updateDate="2017-07-09T17:27:55" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (2)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-2" path="-1,1154,1170" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1056" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1171" key="03ac7ea4-80dc-4f82-bac7-dac03b4c3c39" parentID="1154" level="2" creatorID="0" sortOrder="5" createDate="2017-07-09T17:28:17" updateDate="2017-07-09T17:28:56" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (3)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-3" path="-1,1154,1171" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1056" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1172" key="9bceabb0-899d-42f2-acfa-b4bb458a0ea1" parentID="1154" level="2" creatorID="0" sortOrder="6" createDate="2017-07-09T17:28:22" updateDate="2017-07-09T17:28:59" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (4)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-4" path="-1,1154,1172" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1056" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1173" key="c69fe535-8ab2-4d05-8609-ed779584b0af" parentID="1154" level="2" creatorID="0" sortOrder="7" createDate="2017-07-09T17:28:26" updateDate="2017-07-09T17:29:02" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (5)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-5" path="-1,1154,1173" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1056" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1174" key="c3c42abb-21cf-4f61-8d58-c311043fdb1a" parentID="1154" level="2" creatorID="0" sortOrder="8" createDate="2017-07-09T17:28:30" updateDate="2017-07-09T17:29:05" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (6)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-6" path="-1,1154,1174" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1056" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1175" key="e3711ee4-ce7b-4197-b7ce-6fcc57294e53" parentID="1154" level="2" creatorID="0" sortOrder="9" createDate="2017-07-09T17:28:34" updateDate="2017-07-10T14:11:18" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (7)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-7" path="-1,1154,1175" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1057" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1176" key="7a79e66c-bed7-4c8c-b284-cb84aac1a7f7" parentID="1154" level="2" creatorID="0" sortOrder="10" createDate="2017-07-09T17:28:38" updateDate="2017-07-09T17:29:11" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (8)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-8" path="-1,1154,1176" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1056" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1184" key="12951113-3bc7-4aab-a936-26009848852e" parentID="1154" level="2" creatorID="0" sortOrder="11" createDate="2017-07-10T09:23:42" updateDate="2017-07-10T14:12:01" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (9)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-9" path="-1,1154,1184" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1057" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is]]></newsContent>
    </postNews>
    <postNews id="1189" key="82933bfb-ae84-43e1-9d3f-f6573eff89fa" parentID="1154" level="2" creatorID="0" sortOrder="13" createDate="2017-07-10T14:36:12" updateDate="2017-07-10T14:37:00" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (11)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-11" path="-1,1154,1189" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1057" nodeTypeAlias="postNews">
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1196" key="873cd63c-c55b-494f-9924-ed3f8a019850" parentID="1154" level="2" creatorID="0" sortOrder="15" createDate="2017-07-10T14:42:14" updateDate="2017-07-10T14:54:16" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (13)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-13" path="-1,1154,1196" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1057" nodeTypeAlias="postNews">
      <newsPhoto><![CDATA[umb://media/781920c176144710a615bb651c5aed8c]]></newsPhoto>
      <newsImage><![CDATA[http://2.i.baomoi.xdn.vn/w460x/17/07/08/100/22708252/1_140638.jpg]]></newsImage>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is...]]></newsContent>
    </postNews>
    <postNews id="1198" key="56304c5d-d771-42e8-b59e-b16166f426f2" parentID="1154" level="2" creatorID="0" sortOrder="16" createDate="2017-07-10T14:56:31" updateDate="2017-07-10T14:56:51" nodeName="Donald Trump met Vietnam Prime Minister at G20 Conference (14)" urlName="donald-trump-met-vietnam-prime-minister-at-g20-conference-14" path="-1,1154,1198" isDoc="" nodeType="1112" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1056" nodeTypeAlias="postNews">
      <newsPhoto><![CDATA[umb://media/4e3fe63a783649e7b5483a8d6fca7254]]></newsPhoto>
      <newsTitle><![CDATA[Donald Trump met Vietnam Prime Minister at G20 Conference]]></newsTitle>
      <newsContent><![CDATA[This is....]]></newsContent>
    </postNews>
  </postNews>
  <register id="1155" key="aabe8d99-00d0-4fd9-b561-d1e7c765b16e" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2017-07-09T10:45:41" updateDate="2017-07-09T11:22:54" nodeName="Register" urlName="register" path="-1,1155" isDoc="" nodeType="1114" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1054" nodeTypeAlias="register" />
  <notification id="1183" key="bfd18f8f-8937-4ca7-adee-83b8a6d7f5e5" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2017-07-09T22:55:16" updateDate="2017-07-09T22:55:16" nodeName="Notification" urlName="notification" path="-1,1183" isDoc="" nodeType="1182" creatorName="tuanbk08" writerName="tuanbk08" writerID="0" template="1181" nodeTypeAlias="notification" />
</root>